.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.board-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.block {
  min-height: 40px;
  min-width: 40px;
}

.game-text {
  font-size: 20px;
}
